*{
    margin:0;
    padding:0;
}

.container{
    margin: 10px;
}

h3{
    text-transform:uppercase ;
    font-size:1.5rem;
    margin-bottom:15px;
    text-align:center ;
}
span{
    color:red;
}

.form-section{
    
    
}

.form-group{
    
    margin-bottom:5px;
}

label{
    display:block ;
    font-size:1.3rem;
    font-weight:500;
    margin-bottom:3px;
    
}

.form-control{
    width:100%;
    padding:5px 10px;
    box-sizing:border-box ;
    outline-color:blue;
    border-radius:5px;
    border:1px solid black;
    
}
.btn{
    margin-top:10px;
    width:100%;
    padding:10px 0;
    border-radius:5px;
    background-color:orange;
    border:none ;
    
}

/* css for table */


#table {
  border-collapse: collapse;
  text-align: left;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, .3);
  font-size: 14px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  margin-top: 10px;
  min-width: 375px;

}

#table thead tr {
  background-color: #10a061;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}

#table th,
td {
  padding: 10px;
}

#table tbody tr {
  border-bottom: 1px solid #ddd;
  transition: .3s;
}

#table tbody tr:nth-child(even) {
  background-color: #f3f3f3;
}

#table tbody tr:last-child {
  border-bottom: 2px solid #10a061;
}

#table tbody tr:hover {
  background-color: black;
  color: #fff;

}